.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.FormMovie {
  width: 550px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 95px;
  margin-right: 30px;
  text-align: right;
}

.FormMovie .form-data input:not([type="submit"]) {
  flex-grow: 1;
}
